<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>GibJohn's Tutoring Homepage</title>
        <link rel="stylesheet" href="static/css/styles-light.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="heading">
                <img src="static/images/studentlogo.png" alt="GibJohn's Tutoring logo of a graduation cap">
                <h1 id="GJT-title">GibJohn's Tutoring</h1>
            </div>
            <div class="topnav">
                <a class="active" href="http://127.0.0.1:5000">Home</a>
                <a class="option" href="http://127.0.0.1:5000/resources">Resources</a>
                <a class="option" href="http://127.0.0.1:5000/rewards">Rewards</a>
                <a class="option" href="http://127.0.0.1:5000/signup">Sign Up</a>
                <a class="option" href="http://127.0.0.1:5000/login">Login</a>
                <a class = "active" href="#"> Light Mode</a>
                <a class="option" href="http://127.0.0.1:5000/dark">Dark Mode</a>
            </div>
        </header>
        <div id="homepage-container">
            <div class="homepage-container-child">
                <h1 id="homepage-title">Learning made simple.</h1>
            </div>
            <div class="homepage-container-child">
                <p id="homepage-subtitle">Find resources, learn and reward students - all in one platform.</p>
            </div>
            <div class="homepage-container-child">
                <!-- Add a link to the button -->
                <button class="more-info-btn">More Information</button>
            </div>
        </div>
        <div id="photo-grid-container">
            <div class="photo-container">
                <div class="photo">
                    <img src="static/images/reshot-img1.jpg" alt="Image of a laptop and two people standing next to it, it is a graphic">
                    <!-- Add a link to the button -->
                   <button class="green-btn">Over 200 courses to access.</button>
                </div>
            </div>
            <div class="photo-container">
                <div class="photo">
                    <img src="static/images/reshot-img2.jpg" alt="Image of a mobile phone filled with textbooks and two people standing next to it, it is a graphic">
                    <!-- Add a link to the button -->
                   <button class="green-btn">Access anywhere, anytime.</button>
                </div>
            </div>
            <div class="photo-container">
                <div class="photo">
                    <img src="static/images/reshot-img3.jpg" alt="Image of someone with a ladder next to a book and someone pointing at it, it is a graphic">
                    <!-- Add a link to the button -->
                    <button class="green-btn">Reward <b>your</b> students.</button>
                </div>
            </div>
        </div>
    </body>
</html>