<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>GibJohn's Tutoring Login Page</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/styles-dark.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <header>
            <div class="heading">
                <img src="static/images/studentlogo.png" alt="GibJohn's Tutoring logo of a graduation cap">
                <h1 id="GJT-title">GibJohn's Tutoring</h1>
            </div>
            <div class="topnav">
                <a class="option" href="http://127.0.0.1:5000/dark">Home</a>
                <a class="option" href="http://127.0.0.1:5000/resources/dark">Resources</a>
                <a class="option" href="http://127.0.0.1:5000/rewards/dark">Rewards</a>
                <a class="option" href="http://127.0.0.1:5000/signup/dark">Sign Up</a>
                <a class="active" href="http://127.0.0.1:5000/login/dark">Login</a>
                <a class="option" href="http://127.0.0.1:5000/login">Light Mode</a>
                <a class="active" href="#">Dark Mode</a>
            </div>
        </header>
    </body>
</html>