<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>GibJohn's Tutoring Rewards Page</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/styles-dark.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="heading">
                <img src="{{url_for('static', filename='images/studentlogo.png')}}" alt="GibJohn's Tutoring logo of a graduation cap">
                <h1 id="GJT-title">GibJohn's Tutoring</h1>
            </div>
            <div class="topnav">
                <a class="option" href="http://127.0.0.1:5000/dark">Home</a>
                <a class="option" href="http://127.0.0.1:5000/resources/dark">Resources</a>
                <a class="option" href="http://127.0.0.1:5000/rewards/dark">Rewards</a>
                <a class="active" href="http://127.0.0.1:5000/signup/dark">Sign Up</a>
                <a class="option" href="http://127.0.0.1:5000/login/dark">Login</a>
                <a class = "option" href="http://127.0.0.1:5000/signup"> Light Mode</a>
                <a class="active" href="#">Dark Mode</a>
            </div>
        </header>
        <div id="signup-container">
            <h2 id="signup-header">Sign Up</h2>
            <form>
                <label for="fname">First Name</label><br>
                <input type="text" id="fname" name="fname"><br>
                <label for="lname">Last Name</label><br>
                <input type="text" id="lname" name="lname"><br>
                <label for="email">Email</label><br>
                <input type="email" id="email" name="email"><br>
                <label for="pwd">Password</label><br>
                <input type="password" id="pwd" name="pwd"><br>
                <label for="pwd-confirm">Confirm Password</label><br>
                <input type="password" id="pwd-confirm" name="pwd-confirm"><br>
                <label for="student">Student</label>
                <input type="radio" id="student" name="status">
                <label for="tutor">Tutor</label>
                <input type="radio" id="tutor" name="status"><br>
                <input type="submit" value="Submit">
            </form>


        </div>
    </body>
</html>